<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsfeng.cn.dao.AccountMapper">
    <resultMap id="BaseResultMap" type="com.tsfeng.cn.model.Account">
        <id column="acct_id" property="acct_id" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DOUBLE"/>
        <result column="frozen" property="frozen" jdbcType="DOUBLE"/>
    </resultMap>
    <sql id="Base_Column_List">
        acct_id, amount, frozen
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tb_account
        where acct_id = #{id, jdbcType=VARCHAR}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.tsfeng.cn.model.Account">
        UPDATE tb_account
        <set>
            <if test="amount != null">
                amount = #{amount,jdbcType=DOUBLE},
            </if>
            <if test="frozen != null">
                frozen = #{frozen,jdbcType=DOUBLE},
            </if>
        </set>
        where acct_id = #{acct_id,jdbcType=VARCHAR}
    </update>
</mapper>